<footer class="bg-gray-800 text-white">
    <div class="max-2-6xl max-auto px-4 py-10 md:py-20">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
           <!-- About Section -->
                <div class="space-y-8 xl:col-span-1">
                    <h3 class="text-sm font-semibold text-gray-200 tracking-wider uppercase">
                        About Ecomm
                    </h3>
                    <p class="text-white leading-6">
                        Ecomm is a fictional e-commerce platform built with Ruby on Rails and Tailwind CSS. This project was created by 
                        </p>

             </div>
       <!-- Quick Links Section -->
        </div>
        </div>
    </footer>